{% extends 'base.html' %}

{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}

{% block content %}
      <div class="container mt-4">
        {% include 'includes/nav.html' %}
        
          <div class="container row">
          {% include 'includes/messages.html' %}
          
          {% for item in menuItems %}
          
            <div class="container-fluid d-flex justify-content-center col-md-4 col-sm-6">
              <div class="shadow-lg card mx-1 mb-5">
                <a href="{% url 'dish' item.id %}">
                  <img src={{item.image.url}} class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <h6 class="card-subtitle mb-3 ">{{item.cost}}</h6>
                  <h6>{{item.description}}</h6>
                </div>
              </div>
            </div>
          
          {% endfor %}
          
        </div>
        </div>
      </div>
      
      {% include 'includes/footer.html' %}


    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {% endblock scripts %}
{% endblock content %}